<div class="main__container">
  <div class="signup-card">

    <main class="signup-content">
      <span class="signup-header">Signup</span>
      <!-- signup form -->

      <form class="signup-form" (ngSubmit)="signup($event)" #authform="ngForm">
        <!--Email-->
        <input [class.signup-input-error]="!email.valid && email.touched" email ngModel #email="ngModel" type="email" placeholder="Email" name="email" class="signup-input" required>
        <small class="text-danger validation-text col-10" *ngIf="!email.valid && email.touched">Provide a valid email address</small>
        <!--Password-->
        <input [class.signup-input-error]="!password.valid && password.touched" ngModel #password="ngModel" type="password" placeholder="Password" name="password" class="signup-input" minlength="6"
               required>
        <small class="text-danger validation-text col-10" *ngIf="!password.valid && password.touched">Provide a password with min length of 6 character</small>       
        <!--Confirm Password-->
        <input ngModel name="confirm_password"  type="password" placeholder="Confirm Password" class="signup-input" minlength="6"
               required>
        <input type="submit" name="submit" value="Signup" class="signup-btn" [class.btn-disabled]="!authform.form.valid"
               [disabled]="!authform.form.valid">
      </form>
      <div class="login-link-wrapper">
        <span class="login-notice">Already Have an account?</span>
        <a class="login-link" routerLink="/login">login</a>
      </div>

    </main>

    <!-- linking to signup -->
    <aside class="signup-aside">
      <div class="signup-aside-overlay"></div>
      <h1 class="signup-welcome-text">Join Minimus Today!</h1>
      <hr class="signup-aside-hr">
    </aside>
  </div>
</div>

<app-error [message]="errorMessage"></app-error>

